# Xcode
#
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/contents.xcworkspacedata
project.xcworkspace/xcuserdata/
*.bundle/
!default.bundle
*.xcuserdatad
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
#
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata/

# macOS
#
.DS_Store
